<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Metricution</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<script type="text/handlebars">
  {{outlet}}
</script>

</body>
</html>
