# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore spec coverage files.
/coverage

# Ignore the .env file, people should use this for things
# specific to their environment. If it belonged in version
# control it should be in the code base.
.env