.bathroom-count {
  // margin: inherit 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.bathroom {
  $a: (100%/3);
  $b: 1%;
  $c: $a - ($b*2);

  width: $c;
  margin: $b;
  padding: 18px;
  display: inline-block;
  float: left;

  &.available {
    background-color: #5cb85c;
  }

  &.occupied {
    background-color: #d2322d;
  }

  .name {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
  }

  .status {
    margin-bottom: 0;
  }
}
