.bathrooms {
  height: 100%;

  .bathroom {
    padding: 2%;

    &.available {
      background-color: #5cb85c;
    }

    &.occupied {
      background-color: #d2322d;
    }

    .name {
      font-weight: bold;
      margin: 0;
    }

    .status-updated-at {
      font-weight: lighter;
      margin: 0;
    }
  }
}
