<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Metricution</title>
  <%= stylesheet_link_tag    "manifest", media: "all" %>
  <%= javascript_include_tag "manifest" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="bathroom-statuses"></ul>

</body>
</html>
